* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: antiquewhite;
  --secondary-color: rgba(30, 90, 93, 0.738);
  --career-color: rgb(108, 108, 108);
}

header {
  background-color: var(--secondary-color);
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header h1 {
  font-size: 1.4rem;
}

header h3 {
  font-size: 0.8rem;
  color: rgb(84, 83, 83);
}

nav {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 15px;
  border: 3px solid rgb(44, 42, 42);
  border-radius: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: rgb(39, 39, 39);
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.interests-space {
  height: 50px;
}

footer {
  background-color: var(--secondary-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer p {
  font-size: 1.1rem;
}

.right {
  text-align: right;
}

#socials {
  font-size: 1.4rem;
}

#socials img {
  height: 25px;
  vertical-align: middle;
}

#socials img:hover {
  transition: 0.4s;
  transform: scale(1.25);
}

/* homepage */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.self-portrait img {
  height: 45vh;
  border-radius: 100px;
  border: 3px solid black;
}

.intro-p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 500px;
  font-size: 1.8rem;
}

.self-portrait,
.intro-p {
  margin: 50px;
}

.home-space {
  height: 150px;
}

@media screen and (max-width: 1025px) {
  .hero-container {
    flex-direction: column;
    height: 89vh;
  }

  .self-portrait img {
    height: 35vh;
    border-radius: 60px;
  }

  .intro-p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 90vw;
    font-size: 1.8rem;
  }

  .self-portrait,
  .intro-p {
    margin: 10%;
  }
}

@media screen and (max-width: 575px) {
  .hero-container {
    flex-direction: column;
    height: 83vh;
  }

  .self-portrait img {
    height: 25vh;
    border-radius: 60px;
  }

  .intro-p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 90vw;
    font-size: 1.2rem;
  }

  .self-portrait,
  .intro-p {
    margin: 40px;
  }
}

/* Career */

.career-card {
  border: 3px solid black;
  padding: 25px;
  margin: 70px;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  background-color: var(--career-color);
  color: var(--primary-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.career-left-side {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.skills {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}

.skills ul {
  font-size: 1.1rem;
  list-style: none;
  display: block;
}

.skills li {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: var(--career-color);
  color: var(--primary-color);
  transition: 0.3s;
}

.skills li:hover {
  background-color: var(--primary-color);
  color: var(--career-color);
}

.professional-summary {
  width: 50%;
}

.education {
  width: 38%;
  display: block;
  margin: auto;
  text-align: left;
}

.career-right-side {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  text-align: center;
}

.skills h2,
.professional-summary h2,
.education h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.skills h2::after {
  content: "";
  display: block;
  background-color: rgb(43, 80, 68);
  width: 70px;
  height: 4px;
  margin: auto;
  border-radius: px;
}

.resume-button {
  width: 150px;
  text-align: center;
  background-color: rgba(29, 96, 74, 0.749);
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: auto;
  transition: 0.3s;
}

.resume-button:hover {
  background-color: rgb(91, 111, 129);
}

.resume-button a {
  color: antiquewhite;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* interests */

.box {
  background-color: var(--secondary-color);
  padding: 40px;
  padding-bottom: 20px;
  border: 5px solid rgb(51, 51, 51);
  margin: 100px;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 12px;
}

.box h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: antiquewhite;
}

.box p {
  font-family: "Roboto Condensed", sans-serif;
  color: antiquewhite;
}

.box-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.flickr-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
}

.box a:visited {
  color: rgb(171, 161, 148);
}

.box a {
  color: antiquewhite;
}

.youtube-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
}

.center {
  text-align: center;
}
